@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply bg-gray-800 m-0 p-0 ;
  @apply text-gray-400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
select,
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {

  @apply block w-full my-2 rounded-sm;
  @apply border-b p-2 hover:border-gray-500 ;
  @apply font-bold;
}

input:hover::placeholder {
  @apply text-xs text-red-300 ;
}



input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {

  @apply bg-neutral-700 cursor-not-allowed text-gray-500;

}

textarea,input:focus {
  @apply outline-none;
}

button:disabled, button[disabled], button[type="submit"][disabled], .submit[disabled] {
  @apply bg-red-400 cursor-not-allowed text-gray-600;
}

button, .button {
  @apply  flex p-2 font-semibold rounded-sm ;
  /* @apply border-gray-100; */
  @apply bg-indigo-500 hover:bg-indigo-600;
  @apply hover:text-green-500;
  @apply transition-all ease-in-out duration-700;
}

button[type="submit"], .submit {
  @apply hover:bg-yellow-700;
  @apply border-0  text-gray-300;
  
}

.tabs > *{
  @apply bg-gradient-to-tl from-cyan-950 text-gray-400 rounded-sm mt-5 p-2;
  @apply hover:text-green-200 hover:text-xl;
  @apply transition-all ease-in-out duration-700;
  @apply mb-5;
}

.tabs > *.active{
  @apply bg-primary text-green-500 rounded-md mt-5 p-2;
  @apply font-bold text-2xl text-gray-200 ;
}

